@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #161616
}

hr {
    border-top: 1px solid white;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.modal-body a {
    color: #0d6efd !important;
}

.section {
    min-height: 100vh;
    background-color: #161616;
    padding: 90px 16px;
    color: white;
}

.active>a {
    font-weight: 600;
    color: #f68c09;
    transition: ease-in-out 0.2s all;
}

/* Home */
#home .text {
    position: absolute;
    margin-left: 20%;
    top: 50%;
    transform: translate(0%, -50%);
}

#home>img {
    width: 40%;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}

/* About Me */
#aboutme .details {
    float: right;
    margin-right: 15%;
}

#aboutme>img {
    width: 30%;
    position: absolute;
    left: 20%;
    border-radius: 20px;
}

/* Certificates & Projects */
.title-text {
    text-align: center;
    margin: auto;
}

#contact>* {
    padding: 5%;
}

.form-group {
    padding-bottom: 24px;
}

.contact-right {
    text-align: center;
}

/* Contact */
#contact>* {
    width: 50%;
}

.flex-platform {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-platform a {
    margin: 1em;
    color: black;
    transition: all 0.2s ease-in-out;
}

.flex-platform a:hover {
    color: #f68c09;
}

.flex-platform .card {
    min-width: 10em;
}

.flex-platform i {
    font-size: 2.5em;
    margin-top: 20%;
    vertical-align: middle;
}

.card-img-overlay {
    cursor: pointer;
    opacity: 0;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.5s ease-in-out;
}

.card-img-overlay:hover {
    opacity: 1;
}

.no-bg {
    border: unset !important;
    background: none;
    width: 15%;
    margin: 2.5rem;
}

.certs {
    width: 25%;
    max-height: 20rem;
}

.certs > img {
    object-fit: contain !important;
}

.img-fluid > img {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .no-bg {
        width: 25%;
    }

    .certs {
        width: 35%;
    }
    
    #contact {
        display: block !important;
    }

    #contact>* {
        width: 75%;
        margin: auto;
    }

    #aboutme {
        text-align: center;
    }

    #aboutme>img {
        width: 30%;
        position: relative;
        left: unset;
    }

    #aboutme .details {
        float: none;
        margin: auto;
        width: 75% !important;
    }
}

@media (max-width: 768px) {
    .no-bg {
        width: 40%;
    }

    .certs {
        width: 50%;
    }

    #home {
        text-align: center;
    }

    #home>img {
        width: 40%;
        position: relative;
        transform: unset;
        margin: auto;
        right: unset;
        top: unset;
    }

    #home .text {
        position: relative;
        margin: auto;
        top: unset;
        transform: unset;
        width: 50% !important;
    }
}